@model HerzingProjectTemplate.Models.Nutrition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nutrition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodEnergy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodEnergy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protein)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protein)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NutritionActivityDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NutritionActivityDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NutritionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
